{% extends 'base.html' %}
{% block title %}ReviewBot - Edit Repo{% endblock %}
{% block content %}
<ul>
	<li>Name: {{ repo.get_name() }}</li>
	<li>Clone URL: {{ repo.get_clone_url() }}</li>
</ul>
{% endblock %}
