{% extends 'base.html' %}
{% block title %}ReviewBot - Admin{% endblock %}
{% block content %}
<div class='span6'>
	<ul>
		{% for repo in repos %}
			<li>
				{{ repo.get_name() }}
				<ul>
					<li><a href='{{ url_for('edit', repo_id=repo.get_id()) }}'>Edit</a></li>
					<li><a href='/review/{{ repo.get_id() }}/'>View</a></li>
			</li>
		{% endfor %}
	</ul>
</div>
<div class='span6'>
	<form action='{{ url_for('addrepo') }}' method='post'>
		<h2>New Repo</h2>
		<p>Project Name: </p>
		<input type='text' class='x-large' name='name' id='name' /><br />

		<p>Repo Location: <small>(on server's filesystem)</small></p>
		<input type='text' class='x-large' name='path' id='path' /><br /><br />
		<input type='submit' class='btn primary' value='Add Repo' />
	</form>
</div>
{% endblock %}
