{% extends 'base.html' %}
{% block title %}ReviewBot: {{ repo.get_name() }}{% endblock %}
{% block content %}
	<h2>Commits</h2>
	<ul class='commits'>
		{% for commit in repo.get_all_commits() %}
			<li>{{ commit }}: {{ commit.message }}
				<span><a href='{{ url_for('review_commit', repo_id=repo.get_id(), commit_id=commit.__str__()) }}'>Start Review</a></span>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
