{% extends 'base.html' %}
{% block title %}ReviewBot: {{ commit.message }}{% endblock %}
{% block header %}
<style type='text/css'>
div.codeviewer {
	background: #272822;
	border: 1px solid #000;
}

div.linenodiv {
	color: #75715e;
	padding-right: 8px;
}

pre {
	background: transparent;
}

/* pygments styles */
{{ css|safe }}
</style>
{% endblock %}
{% block content %}
{% for filename in blocks %}
	<p>{{ filename }}</p>
	<div class='codeviewer'>
			{{ blocks[filename]|safe }}
	</div>
{% endfor %}
{% endblock %}
