<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<title>{% block title %}ReviewBot{% endblock %}</title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
	{% block header %}{% endblock %}
</head>
<body>
	<div class='container' id='container'>
		<div class='row'>
			{% for message in get_flashed_messages() %}
				<div class='flash'>{{ message }}</div>
			{% endfor %}
		</div>
		<div class='row'>
			{% block content %}

			{% endblock %}
		</div>
		<div class='row footer'>
			{% block footer %}
			{% endblock %}
		</div>
	</div>
</body>
</html>
