{% extends 'base.html' %}
{% block title %}ReviewBot - Log In{% endblock %}
{% block content %}
<div id='loginform' class='ten columns offset-by-three'>
	<form action='{{ url_for('login') }}' method='post'>
		<label for='email'>Email</label>
		<input type='text' name='email' id='email' />

		<label for='password'>Password</label>
		<input type='password' name='password' id='password' />

		<button type='submit'>Login</button>
	</form>
</div>
{% endblock %}
